<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iot_app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".di.MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
           
        </activity>

        <activity android:name=".ui.splash_activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.blockly_activity.BlocklyActivity"
            android:theme="@style/blockly"
            android:screenOrientation="landscape">

        </activity>
        <activity    android:screenOrientation="landscape"  android:name=".ui.handed_controller.HandedControllerActivity">

        </activity>

        <activity android:screenOrientation="landscape" android:name=".game.GameActivity">

        </activity>

        <activity android:name=".ui.bluetooth.ble.BleActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>

        <activity android:name=".ui.bluetooth.ble.operation.OperationActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape"/>
    </application>

</manifest>